<div class="main">
  <mat-toolbar class="mat-elevation-z8" color="primary">
  <mat-toolbar-row>
    <button (click)="sidenav.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
    </button>
    <span>Material Design</span>
    <span class="example-spacer"></span>
    <!-- <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon> -->
    <div class="d-none d-lg-block">
      <a *ngFor="let menuItem of menuItems"
      [routerLink]="menuItem.url"
      mat-button>
    <mat-icon>{{menuItem.icon}}</mat-icon>
    {{menuItem.text}}
    </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="mat-elevation-z8 sidenav-container" color="primary">

  <mat-sidenav #sidenav id="sidenav">

    <p>
      <mat-toolbar color="primary" >
        <mat-toolbar-row *ngFor="let menuItem of menuItems">
        <a mat-button [routerLink]="menuItem.url">{{menuItem.text}}</a>
      <span class="example-spacer"></span> 
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon >{{menuItem.icon}}</mat-icon>   
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon >keyboard_arrow_left</mat-icon>   
      </button>
    </mat-toolbar-row>

    </mat-toolbar>
    </p>
</mat-sidenav>

  <mat-sidenav-content>
  <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>


</div>